* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 4fr 0.1fr;
  grid-template-areas: "head" "main" "footer";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body ul, body ol {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #003942;
}
body header {
  grid-area: head;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #F4F3F4;
  position: sticky;
  top: 0.1px;
}
body header .div-header-logo {
  width: 70%;
}
body header .div-header-logo .imglogo {
  margin-left: 10px;
  margin-top: 10px;
  width: 150px;
  height: 100px;
}
body header .div-header-logo h1 {
  font-size: 1px;
  opacity: 0.1;
}
body header nav {
  width: 30%;
}
body header nav .nav-xl {
  display: none;
}
body header nav .nav-xl ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body header nav .nav-xl .redes-header a img {
  width: 30px;
  height: 30px;
}
body header nav .nav-sm li a {
  display: block;
  padding: 10px 20px;
  text-align: center;
}
body header nav .nav-sm li:hover .menu_desplegable {
  display: block;
}
body header nav .nav-sm .icono_menu {
  width: 50px;
  height: 50px;
}
body header nav .nav-sm .menu_desplegable {
  position: absolute;
  right: 0.1px;
  display: none;
  width: 100%;
  background-color: #F4F3F4;
}
body header nav .nav-sm .menu_desplegable li:hover {
  background-color: #5E2B83;
}
body header nav .nav-sm .menu_desplegable li:hover a {
  color: #F4F3F4;
}
body header nav .nav-sm .redes-header-sm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav .nav-sm .redes-header-sm:hover {
  background-color: rgb(182, 177, 177);
}
body header nav .nav-sm .redes-header-sm img {
  width: 30px;
  height: 30px;
}

main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  grid-area: main;
}
main .section1 {
  background-image: url(../assets/images/banner-enero20.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}
main .section1 .div-section1 {
  width: 70%;
  padding-top: 30px;
  padding-left: 20px;
}
main .section1 .div-section1 .h2-div-section1 {
  font-size: 2rem;
  font-weight: 400;
  width: 90%;
}
main .section1 .div-section1 .h3-div-section1 {
  font-style: italic;
  color: #5E2B83;
}
main .section1 .div-section1 p {
  width: 90%;
}
main .section1 .div-section1 a .a-div-section1 {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  width: 200px;
  height: 50px;
  background-color: #5E2B83;
  border-radius: 25px;
  color: #F4F3F4;
  font-size: 1.2rem;
  font-weight: bolder;
}
main .section1 .div-section1 a .a-div-section1:hover {
  background-color: #8D145C;
}
main .section2 .article1-section2 {
  color: #F4F3F4;
  background-image: linear-gradient(to right, #0E1139, #8D145C, #F4F3F4);
  padding: 50px 0 20px 20px;
}
main .section2 .article1-section2 .h2-article1-section2 {
  font-size: 2.5rem;
  font-weight: 300;
}
main .section2 .article1-section2 .h3-article1-section2 {
  font-size: 1.5rem;
}
main .section2 .article2-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .section2 .article2-section2 .h4-article2-section2 {
  font-size: 2rem;
  color: #5E2B83;
  padding: 20px 0px 20px 0px;
}
main .section2 .article2-section2 .div-article2-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  text-align: justify;
  margin: 10px;
}
main .section2 .article2-section2 .div-article2-section2 a p {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  width: 200px;
  height: 50px;
  background-color: #5E2B83;
  border-radius: 25px;
  color: #F4F3F4;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 20px;
}
main .section2 .article2-section2 .div-article2-section2 a p:hover {
  background-color: #8D145C;
}
main .section2 .article3-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main .section2 .article3-section2 div {
  box-shadow: 0px 0px 20px #0E1139;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
}
main .section2 .article3-section2 div h3 {
  font-size: 2rem;
  color: #5E2B83;
}
main .section2 .article3-section2 div p {
  text-align: justify;
  padding: 10px;
  font-size: 1.5rem;
}
main .section3 .article1-section3 {
  color: #F4F3F4;
  background-image: linear-gradient(to right, #0E1139, #8D145C, #F4F3F4);
  padding: 50px 0 20px 20px;
}
main .section3 .article1-section3 .h2-article1-section2 {
  font-size: 2.5rem;
  font-weight: 300;
}
main .section3 .article1-section3 h3 {
  font-size: 1.5rem;
  padding-right: 20px;
}
main .section3 .article2-section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .section3 .article2-section3 img {
  width: 90%;
  height: 300px;
  box-shadow: 0px 0px 20px #0E1139;
  border-radius: 5px;
  margin-top: 20px;
}
main .section3 .article2-section3 .div1-section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 20px 10px 20px 10px;
}
main .section3 .article2-section3 .div1-section3 h3 {
  color: #5E2B83;
  margin-top: 20px;
}
main .section3 .article2-section3 .div1-section3 p {
  text-align: justify;
  padding-right: 10px;
}
main .section4 h2 {
  color: #F4F3F4;
  background-image: linear-gradient(to right, #0E1139, #8D145C, #F4F3F4);
  padding: 50px 0 20px 20px;
  font-size: 2.5rem;
  font-weight: 300;
}
main .section4 .article1-section4 {
  margin-left: 20px;
}
main .section4 .article1-section4 form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: auto;
  font-size: 1.5rem;
}
main .section4 .article1-section4 form label {
  padding-top: 10px;
  padding-bottom: 10px;
}
main .section4 .article1-section4 form input {
  margin-left: 5px;
  width: 95%;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 10px;
}
main .section4 .article1-section4 form textarea {
  width: 95%;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main .section4 .article1-section4 form .divbotones {
  width: 95%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main .section4 .article1-section4 form .divbotones .input-btn {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  width: 200px;
  height: 50px;
  background-color: #5E2B83;
  border-radius: 25px;
  color: #F4F3F4;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 5px;
  width: 50%;
  border-radius: 10px;
}
main .section4 .article1-section4 form .divbotones .input-btn:hover {
  background-color: #8D145C;
}
main .section4 .article1-section4 .div1-section4 {
  box-shadow: 0px 0px 20px #0E1139;
  padding: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 95%;
}
main .section4 .article1-section4 .div1-section4 img {
  display: none;
}
main .section4 .article1-section4 .div1-section4 div {
  font-size: 1.5rem;
  padding: 20px;
}

footer {
  grid-area: footer;
  width: 100%;
  background-color: #0E1139;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #F4F3F4;
}
footer a {
  color: #F4F3F4;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #F4F3F4;
}
footer ul li {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}
footer ul .li-footer {
  border-left: 1px solid #F4F3F4;
}
footer ul .li-footer a {
  text-decoration: underline;
}
footer p {
  margin-top: 10px;
  padding-bottom: 40px;
}

@media (min-width: 680px) and (max-width: 2000px) {
  body {
    height: 100%;
    width: 100%;
    grid-template-columns: repeat 3 1fr;
    grid-template-rows: 0.1fr 3fr 0.1fr;
    grid-template-areas: "head head head" "main main main" "footer footer footer";
  }
  body header {
    width: 100%;
  }
  body header .div-header-logo .imglogo {
    width: 150px;
    height: 100px;
  }
  body header nav {
    width: 80%;
  }
  body header nav .nav-xl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }
  body header nav div .nav-sm {
    display: none;
  }
  body header nav ul {
    display: flex;
    gap: 20px;
    width: 60%;
  }
  body header nav ul li:hover {
    font-weight: 600;
  }
  body header nav .redes-header {
    width: 20%;
    display: flex;
  }
  body header nav .redes-header a img {
    padding-left: 5px;
    padding-right: 5px;
  }
  body main {
    width: 100%;
  }
  body main .section1 {
    height: 50vh;
    padding-bottom: 50px;
  }
  body main .section1 .div-section1 {
    padding-top: 100px;
  }
  body main .section2 .article2-section2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  body main .section2 .article2-section2 h4 {
    width: 50%;
    text-align: center;
  }
  body main .section2 .article2-section2 .div-article2-section2 {
    width: 50%;
    display: flex;
    align-items: start;
  }
  body main .section2 .article2-section2 .div-article2-section2 a {
    text-align: start;
  }
  body main .section2 .article3-section2 {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: "mision vision" "valores valores";
  }
  body main .section2 .article3-section2 .div1-article3-section2 {
    grid-area: mision;
  }
  body main .section2 .article3-section2 .div1-article3-section2 p {
    font-size: 1.2rem;
  }
  body main .section2 .article3-section2 .div2-article3-section2 {
    grid-area: vision;
  }
  body main .section2 .article3-section2 .div2-article3-section2 p {
    font-size: 1.2rem;
  }
  body main .section2 .article3-section2 .div3-article3-section2 {
    grid-area: valores;
  }
  body main .section2 .article3-section2 .div3-article3-section2 p {
    font-size: 1.2rem;
  }
  body main .section3 .article2-section3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  body main .section3 .article2-section3 img {
    margin-left: 20px;
  }
  body main .section3 .article2-section3 .div1-section3 {
    margin: 0px 10px 10px 10px;
  }
  body main .section4 {
    width: 100%;
  }
  body main .section4 .article1-section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  body main .section4 .article1-section4 form {
    width: 50%;
  }
  body main .section4 .article1-section4 form input, body main .section4 .article1-section4 form textarea, body main .section4 .article1-section4 form label {
    font-size: 1rem;
  }
  body main .section4 .article1-section4 form .divbotones {
    margin-bottom: 20px;
  }
  body main .section4 .article1-section4 .div1-section4 {
    width: 50%;
    margin-bottom: 70px;
  }
  body main .section4 .article1-section4 .div1-section4 img {
    display: block;
    width: 100%;
    height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  body main .section4 .article1-section4 .div1-section4 div {
    margin-top: 30px;
    font-size: 1rem;
  }
  body footer {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
