@import "../modulos/mixin";
main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    grid-area: main;
    .section1 {
        background-image: url(../assets/images/banner-enero20.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .div-section1 {
            width: 70%;
            padding-top: 30px;
            padding-left: 20px;
            .h2-div-section1 {

                font-size: 2rem;
                font-weight: 400;
                width: 90%;
            }
            .h3-div-section1 {
                font-style: italic;
                color: $paleta_violeta;
            }

            a .a-div-section1 {
                @include botones;
            }

        }
        
    }

    .section2 {
        .article1-section2{
            @include secciones;

            .h2-article1-section2 {
                font-size: 2.5rem;
                font-weight: 300;
            }
            .h3-article1-section2{
                font-size: 1.5rem;
            }
        } 

        .article2-section2 {
            @include flexbox (column, space-around, center);

                .h4-article2-section2 {
                    font-size: 2rem;
                    color: $paleta_violeta;
                    padding: 20px 0px 20px 0px;

                }

                .div-article2-section2 {
                    @include flexbox (column, space-around, center);
                    font-size: 1.5rem;
                    text-align: justify;
                    margin: 10px;

                    a {
                        
                        
                        p {
                            @include botones;
                            margin-top: 20px;
                            
                        };
                    }
                }    
        }

        .article3-section2 {
            @include flexbox (column, space-around, center);

            div {
                box-shadow: 0px 0px 20px $paleta_violeta_oscuro;
                margin: 15px;
                border-radius: 5px;
                text-align: center;
                
                h3 {
                    font-size: 2rem;
                    color: $paleta_violeta;
                }
                p {
                    text-align: justify;
                    padding: 10px;
                    font-size: 1.5rem;
                }
            }

        }
    }

    .section3 {

        .article1-section3 {
            @include secciones;
            
            .h2-article1-section2 {
                font-size: 2.5rem;
                font-weight: 300;
                
            }

            h3 {
                font-size: 1.5rem;
                padding-right: 20px;
            }
        }

        .article2-section3 {

            @include flexbox (column, space-evenly, center);

            img {
                width: 90%;
                height: 300px;
                box-shadow: 0px 0px 20px $paleta_violeta_oscuro;
                border-radius: 5px;
                margin-top:20px;
            }

            .div1-section3 {
                @include flexbox (column, space-around, start);
                padding: 20px 10px 20px 10px;
            
                h3 {
                   color: $paleta_violeta;
                   margin-top:20px;
                }

                p {
                    text-align: justify;
                    padding-right: 10px;
                }
            }

        }
    }

    .section4 {
        h2 {
            @include secciones;
            font-size: 2.5rem;
            font-weight: 300;
        }
        
        .article1-section4 {
            margin-left: 20px;
            form {
                @include flexbox (column, space-around,start);
                margin: auto;
                font-size: 1.5rem;

                label {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                input {
                    margin-left: 5px;
                    width: 90%;
                    font-size: 1.5rem;
                    padding: 20px;
                    border-radius: 10px;
                }

                textarea {
                    width: 90%;
                    font-size: 1.5rem;
                    padding: 20px;
                    border-radius: 10px;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }

                .divbotones {
                    width: 90%;
                    margin-top:10px;
                    @include flexbox (row, space-evenly,center);
                    .input-btn {
                        @include botones;
                        padding: 5px;
                        width:50%;
                        border-radius: 10px;
                    }
                }
            }


            .div1-section4 {

                box-shadow: 0px 0px 20px $paleta_violeta_oscuro;
                padding: auto;
                margin-top:20px;
                margin-right: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                width: 95%;
                img {
                    display:none;
                }

                div {
                    font-size: 1.5rem;
                    padding: 20px;
                    

                }
            }

        }
    }
}



