@import "../modulos/mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 4fr 0.1fr; 
    grid-template-areas:
    "head"
    "main"
    "footer";
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    ul, ol {
        list-style: none;
    }
    a {
        text-decoration: none;
        color:$paleta_verde_oscuro;
    }

    header {
        grid-area: head;
        @include flexbox (row, space-around, center);
        width: 100%;
        background-color: $paleta_gris_claro;
        position: sticky;
        top:0.1px;
        

        .div-header-logo {
            width: 70%;

            .imglogo {
                margin-left: 10px;
                margin-top: 10px;
                width: 150px;
                height: 100px;
            }

            h1 {
                font-size: 1px;
                opacity: 0.1;
            }


        }

        nav {
            width: 30%;
            .nav-xl{
                display: none;

                ul {
                    @include flexbox (row, space-around, center);

                }
                .redes-header a img {
                    width: 30px;
                    height: 30px;
                }
            }
            
            
            .nav-sm {
                
                
                li{
                    a {
                    display:block;
                    padding: 10px 20px;
                    text-align: center;
                    }

                    &:hover {
                        .menu_desplegable {
                            display:block;

                        }
                    }

                }  

                .icono_menu {
                    width: 50px;
                    height: 50px;
                    
                }
                
                .menu_desplegable {
                    position: absolute;
                    right: 0.1px;
                    display:none;
                    width: 100%;
                    background-color: $paleta_gris_claro;         
                
                    
                    li:hover {
                        background-color: $paleta_violeta;
                        
                        a {
                            color:$paleta_gris_claro;
                        }
                    }
                }

                .redes-header-sm {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color: rgb(182, 177, 177);
                    }

        
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }    
            }
        }
    }

}





