// PALETA DE COLORES
$paleta_verde_oscuro:#003942;
$paleta_gris_claro:#F4F3F4;
$paleta_gris_oscuro:#7B7A7A;
$paleta_morado:#8D145C;
$paleta_violeta_oscuro:#0E1139;
$paleta_violeta:#5E2B83;

// BREAKPOINTS

$IPHONE12: 390px;


